<template name="home">
  <div class="row">
    <h1 class="header light green-text text-darken-2">Trainings</h1>
    <br>
    <ul>
      {{#each training in trainings}}
      {{#with training}}
      {{> trainingSummaryTemplate}}
      {{/with}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="trainingSummaryTemplate">
  <li>
    <div class="col s12">
      <h3 class="header light green-text text-darken-2">
        {{toUpperCase this.title}}
      </h3>
        <p class="grey-text text-lighten-1">{{this.date}}</p>
        <p class="flow-text text-justify">
          {{this.description}}
        </p>
        <a class="waves-effect waves-light btn right">View Training</a>
    </div>
  </li>
  <br>
</template>
